@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}
body {
  background-image: url('../images/53-light-purple-gradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;

  gap: 10px;
}

.title {
  font-size: 50px;
}
.subtitle {
  font-size: 30px;
}
.description {
  font-size: 20px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.ex {
  height: 300px;
}

.browsers-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.browser {
  width: 100%;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border: 1px solid transparent;
  padding: 15px;
  border-radius: 10px;

  transition: 0.5s;
}
.logo {
  width: 60px;
}
.browser:hover {
  border: 1px solid white;
}
